Flask==2.2.2
Werkzeug==2.2.2
mysql-connector-python==8.0.33
opencv-python==4.7.0.72
mtcnn==0.1.0
tensorflow-intel==2.12.1 #in case of issue
keras==2.12.0
numpy==1.23.5
pandas==1.5.3
xlsxwriter==3.0.3
reportlab==3.6.12
Pillow==9.4.0
protobuf==3.20.3
